@{
    ViewBag.Title = "Index";
}

<h2>Work</h2>
<div class="workImgContainer">
<div class="workImg"><img src="~/Content/tw2.jpg"" /></div>
<div class="workImg"><img src="~/Content/tw2.jpg"" /></div>
<div class="workImg"><img src="~/Content/tw2.jpg"" /></div>
<div class="workImg"><img src="~/Content/tw2.jpg"" /></div>
    </div>
