@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="leftColum">
    We support the endangered flying turtle!
</div>
<div class="rightColum">
    <img src="../../Content/Pictures/when-turtles-fly-L-EkTEMY.png" alt="" />
</div>