@model BloodBank.Models.BloodBank
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<ul>
    <li>
        Name: @Model.BloodBankName<br />
        ID: @Model.BloodBankID<br />
        Address: @Model.BloodBankAddress<br />
        Number: @Model.BloodBankContactNumber<br />
    </li>
</ul>
