@{
    ViewBag.Title = "Index";
}
<div class="aboutContainer">
<h2>About Me</h2>

<body background="../../Content/Pictures/rideordie.jpg">
 <img width="200px" height="300px" src="../../Content/Pictures/sIMG_20140910_175931.jpg" />

    <p>As an aspiring to be a software developer, my knowledge, skills and paradigm have expanded an extraordinary amount. I have been trained by the manager in a tech start up company, sold a $1,000 in a weekend of sales, completed an 8-week programming boot camp, designed and sold several mobile apps, worked on professional websites and have a diverse and applicable knowledge of technology. What drives me is a tenacious internal drive for success, a powerful zest and openness for learning new ideas and skills,  as well as a large dose of passion and devotion for sales, technology and life. 
    </p>


    </body>
    <</div>