body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: black;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Added Style Classes*/
/*Home Page*/
.homeNext{
    cursor:pointer;
    display:block;
}
.homeContainer{
    background-color:maroon;
    border: 4px solid black; 
    display:inline-block;
  
}
.homeImgContainer {
   padding: 20px;
    width: auto;
    height: 50%; 
}
.homeColumContainer{

}
.homeColum1{
    margin:auto;
    padding: 0px;
    display: inline-block;
    border: 2px solid black;
    width: 30%;
    height: 30%;
}
.homeColum2{
    margin:auto;
    padding: 0px;
    display: inline-block;
    border: 2px solid black;
    width: 30%;
    height: 30%;
}
.homeColum3{
    margin:auto;
    padding: 0px;
    display: inline-block;
    border: 2px solid black;
    width: 30%;
    height: 30%;
}
/*Work Page*/
.workBackground{
    background-color:maroon;
    border: 4px solid black; 
    width:100%;
    height:100%; 
}
.workContainer{
   margin-left:250px;
}
.workDivider{
    display:block;
}

/*Work Caroucel*/
.workCarousel1{
 padding: 20px;   
 display:inline-block;
}
.workCarousel2{
    padding: 20px; 
   display:inline-block;
}
.workCarousel3{
    padding: 20px; 
 display:inline-block;
}
.workCarousel4{
    padding: 20px; 
   display:inline-block;
}
.workImg1 {
    
    display:inline-block;
}
.workImg2 {
    
   display:inline-block;
}
.workImg3{
    display:inline-block;
}
.workImg4{
   display:inline-block;
}
.workNext1{
    cursor:pointer;
    display:inline-block;
}
.workNext2{
    cursor:pointer;
    display:inline-block;
}
.workNext3{
    cursor:pointer;
    display:inline-block;
}
.workNext4{
    cursor:pointer;
    display:inline-block;
}
/*About Page*/

/*Shared*/
.hide{
    display: none !important;
}
.active{
    display:block;
    text-decoration:underline;
}







/*Image*/

.homeImg{
    height:48%;

}

/* Footer */
.footerNav{
    vertical-align:top;
    float:right;
}