@{
    ViewBag.Title = "Index";
}
<body>
    &nbsp; &nbsp; &nbsp; &nbsp;
<h1>Home</h1>
<div class="container">

     
    <div class="homeColumContainer">
    
    <div class="homeColum1" align="center"><strong><h2 align="center"><a href="@Url.Action("Index", "About")">About Me</a></h2><p>lorem ipsum. lorem ipsum. lorem ipsum. </p> <p>lorem ipsum. lorem ipsum.</p></strong></div>
            
     
        
    <div class="homeColum2" align="center"><strong><h2 align="center"><a href="@Url.Action("Index", "Work")">Previous Work</a></h2><p>Hangman | Poker </p>Combat Simulator | Battleship</p></pre></strong></div>
            
     
        
    <div class="homeColum3" align="center"><strong><h2 align="center"><a href="@Url.Action("Index", "Career")">Career</a></h2><p>Looking for a position in frontend </p> <p>and or backend software development.</p></strong></div>
        </div> 
</div>
    </body>