@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<div class="container">
    <div class="homeImgContainer">
        <img class="homeImg active"  align="center" src="../../Content/Pictures/tommorowworld.jpg" alt="img1"  />
        <img class="homeImg hide" width="100%" height="100%" align="center" src="../../Content/Pictures/tw2.jpg" alt="img1"  />
        <img class="homeImg hide" width="100%" height="100%" align="center" src="../../Content/Pictures/tw3.jpg" alt="img1"  />
    </div>
     
    <div class="homeColumContainer">
    &nbsp; &nbsp;
    <div class="homeColum1" align="center"><h3 align="center">About Me</h3><p>lorem ipsum. lorem ipsum. lorem ipsum. </p> <p>lorem ipsum. lorem ipsum.</p></div>
            
     &nbsp; &nbsp;
        
    <div class="homeColum2" align="center"><h3 align="center">Work </h3><p>lorem ipsum. lorem ipsum. lorem ipsum. </p> <p>lorem ipsum. lorem ipsum.</p></div>
            
     &nbsp; &nbsp;
        
    <div class="homeColum3" align="center"><h3 align="center">About Me </h3><p>lorem ipsum. lorem ipsum. lorem ipsum. </p> <p>lorem ipsum. lorem ipsum.</p></div>
        </div> 
</div>