@{
    ViewBag.Title = "Index";
}

<h2>AJAX Tabs Experiment</h2>
<ul id="tabs">
    <li> <span class="tabsget" data-url="@Url.Action("tab1", "tabs")">Tab 1</span></li>
    <li <span class="tabsget" data-url="@Url.Action("tab2", "tabs")">Tab 2</span></li>
    <li><span class="tabsget" data-url="@Url.Action("tab3", "tabs")">Tab 3</li>
</ul>

<div id="tabcontent">

</div>