@{
    ViewBag.Title = "Index";
}

<h2>Carousel Experiment</h2>

<div class="carousel active">
    Carousel 1
</div>

<div class="carousel hide">
    Carousel 2
</div>

<div class="carousel hide">
    Carousel 3
</div>

<div class="carousel-next">
    Next
</div>