@{
    ViewBag.Title = "Index";
}
<div class="pageLink" id="tabs" data-url="@Url.Action("Index", "About")"><span><strong>About</strong></span></div>
<div id="siteContent">
<h2>Home</h2>
<div class="homeContainer">
    <div class="homeImg" align="center"><img src="~/Content/tw2.jpg" /></div>
    <div class="homeColum1">
        <h3>About</h3>
        <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.Lorem ipsum. Lorem ipsum.Lorem ipsum.Lorem ipsum.</p>
    </div>
    <div class="homeColum2">
        <h3>Work</h3>
         <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.Lorem ipsum. Lorem ipsum.Lorem ipsum.Lorem ipsum.</p>
    </div>
    <div class="homeColum3">
        <h3>Careers</h3>
         <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.Lorem ipsum. Lorem ipsum.Lorem ipsum.Lorem ipsum.</p>
    </div>
</div>
</div>