@{
    ViewBag.Title = "Index";
}

<h2>Work</h2>
<div class="container" align:"center">
    
    <div class="imgColumLeft">
        <img width="100%" height:"100%" src="../../Content/Pictures/when-turtles-fly-L-EkTEMY.png" />
    </div>
    <div class="imgColumRight" height:"100%">
        <img width="100%"  src="../../Content/Pictures/when-turtles-fly-L-EkTEMY.png" />
    </div>
    <div class="imgColumLeft" height:"100%">
        <img width="100%"  src="../../Content/Pictures/when-turtles-fly-L-EkTEMY.png" />
    </div>
    <div class="imgColumRight" height:"100%">
        <img width="100%"  src="../../Content/Pictures/when-turtles-fly-L-EkTEMY.png" />
    </div>
        
</div>
