@{
    ViewBag.Title = "Index";
}

<h2>Work</h2>
<div class="container">
    <div class="imgColum">
        <img width="100%"  src="../../Content/Pictures/when-turtles-fly-L-EkTEMY.png" />
    </div>
    <div class="imgColum">
        <img width="100%"  src="../../Content/Pictures/when-turtles-fly-L-EkTEMY.png" />
    </div>
    <div class="imgColum">
        <img width="100%"  src="../../Content/Pictures/when-turtles-fly-L-EkTEMY.png" />
    </div>
    <div class="imgColum">
        <img width="100%"  src="../../Content/Pictures/when-turtles-fly-L-EkTEMY.png" />
    </div>

</div>
