@{
    ViewBag.Title = "Index";
}

<h2>Work</h2>

<div class="workBackground">

<div class="workContainer" align:"center">
    
<div class ="workCarousel1">
<div><span><strong><font size="6px">BattleShip</font></strong></span></div>
<div class="workImg1 active"> <img height="400px" width="600px" src="../../Content/Pictures/battleshiphome.png" alt="img1"  /></div>
    <div class="button"><span align="center"><strong><a href="@Url.Action("battleship","work")">Details</a></strong></span></div>
    </div>

<div class="workCarousel2">
<div class="workImg2 active" > <img height="400px" width="600px"src="../../Content/Pictures/Pictures/pikachu.jpg" alt="img1"  /></div>
<div class="workImg2 hide" > <img height="400px" width="600px" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png" alt="img2"  /></div>
<div class="workImg2 hide" > <img height="400px" width="600px" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png"" alt="img3"  /></div>
<div class="workImg2 hide" > <img height="400px" width="600px" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png"" alt="img4"  /></div>  
    <div class="button workNext2"><span align="center"><strong>Next</strong></span></div>
</div>
    
    <div class="workDivider"></div>
 <div class="workCarousel3">
<div class="workImg3 active" > <img height="400px" width="600px" align="center" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png" alt="img1"  /></div>
<div class="workImg3 hide" > <img hide" height="400px" width="600px" align="center" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png" alt="img2"  /></div>
<div class="workImg3 hide" > <img height="400px" width="600px" align="center" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png"" alt="img3"  /></div>
<div class="workImg3 hide" >  <img  height="400px" width="600px" align="center" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png"" alt="img4"  />    </div>
     <div class="button workNext3"><span align="center"><strong>Next</strong></span></div>
    </div>

<div class="workCarousel4">
<div class="workImg4 active" > <img height="400px" width="600px" align="center" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png" alt="img1"  /></div>
 <div class="workImg4 hide" > <img height="400px" width="600px" align="center" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png" alt="img2"  /></div>
<div class="workImg4 hide" > <img height="400px" width="600px" align="center" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png"" alt="img3"  /></div>
<div class="workImg4 hide" > <img height="400px" width="600px" align="center" src="../../Content/Pictures/Pictures/when-turtles-fly-L-EkTEMY.png"" alt="img4"  /> </div>
    <div class="button workNext4"><span align="center"><strong>Next</strong></span></div>
    </div>
</div>
